<div class="container-fluid">
<div class="container" id="Main-Head">
    <!-- <span><i class="fas fa-star"></i><i class="fas fa-star"></i> -->
    <h1 class="text-center" id="heading">NEWS SCRAPER</h1>
    
    <!-- <i class="fas fa-star"></i><i class="fas fa-star"></i></span> -->
</div>
<hr>
<!-- <span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
<p class="text-center">copyright 2019 ily M.</p>
<i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
<i class="fas fa-star"></i></span> -->
<hr>
</hr>

<nav class="nav nav-pills nav-fill">
<button><a class="nav-item nav-link" href="/">Home</a></button>
<button><a class="nav-item nav-link scrape-new">Scrape New Articles</a></button>
<button><a class="nav-item nav-link" href="/saved">Saved Articles</a></button>
</nav>

{{!-- <div class="card-columns">
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has a regular title and short paragraphy of text below it.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div> --}}

<div class="container-fluid article-container">
</div>
</div>
{{!-- 
  <button><a class="nav-item nav-link" id="clear">Clear Articles</a></button>
class="btn-save" --}}